---
import MainLayout from '../layouts/MainLayout.astro'
---

 <MainLayout>
   <section class="form-container">
    <h2>Mein Konto</h2>
    <form action="https://formspree.io/f/xovqzrnk" method="POST">
      <label for="name"></label>
      <input type="text" id="name" name="name" placeholder="Name" required>
      <label for="email"></label>
      <input type="email" id="email" name="email" placeholder="Email" required>
      <label for="password"></label>
      <input type="password" id="password" name="password" placeholder="Passwort" required>
      <button type="submit">Speichern</button>
    </form>
  </section>
  
</MainLayout>
  <style>
    
 .form-container {
    display: block;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-width: 400px;
    margin: 200px auto;
} 

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    margin-bottom: 5px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background: var(--dark-color);
}
</style>