<footer>
    <div class="footer-container">
        <div class="footer-about">
            <h3>Über uns</h3>
            <p>Wir sind ein Unternehmen, das sich auf hochwertige Produkte spezialisiert hat. Unser Ziel ist es, unseren Kunden die besten Produkte und Dienstleistungen zu bieten.Smartwatches - Erkunde die Eleganz und Innovation, die unsere hochwertige Smartwatches bieten.</p>
        </div>
        <div class="footer-social">
            <h3>Soziale Medien</h3>
            <ul class="medien-icons">
                <li><a href="https://www.facebook.com" target="_blank" <i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com" target="_blank"<i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com" target="_blank"<i class="fa-brands fa-youtube"></i></a></li>
            </ul>
            <ul class="rechtlische">
                <li><a href="/post/daten">Datenschutz</a></li>
                <li><a href="/post/impresse">Impresse</a></li>
                <li><a href="/post/agb">AGB</a></li>
            </ul>
        </div>
    </div>


</footer>


<style>

footer{
    background-color:rgb(68, 65, 65);
    color: #fff;
    height: 500px;

}

.footer-about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-about h3{
    margin: 30px auto;
    font-weight: 700;
    font-size: 25px;
    text-shadow:2px 2px 4px rgba(180, 175, 175, 0.5);
}
.footer-about p{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
    text-shadow:2px 2px 4px rgba(180, 175, 175, 0.5);
    max-width: 80%;
    
}
.footer-social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-social h3{
    margin: 20px auto;
    font-weight: 700;
    font-size: 25px;
    text-shadow:2px 2px 4px rgba(180, 175, 175, 0.5);
}
.footer-social ul{
    display: flex;
    justify-content: center;
    list-style: none;
   
}
.footer-social ul li{
    margin: 10px;
    font-size: 20px;
    text-shadow:2px 2px 4px rgba(180, 175, 175, 0.5);
}
.footer-social .medien-icons a:hover{
    color: var(--primary-color);
    font-size: 40px;
    transition: all 2s ease;
   
}

.footer-social ul li:nth-child(1) a::before {
    background-color: #1877F2; 
    border-radius: 30%;
}

.footer-social ul li:nth-child(2) a::before {
    background-color: #E4405F;
    border-radius: 30%;
}

.footer-social ul li:nth-child(3) a::before {
    background-color: #FF0000; 
    border-radius: 30%;
}

.rechtlische a:hover {
    text-decoration: underline;
    color: var(--text-color);
    font-size: 10px;
    transition: all 2s ease;

    
}
</style>























<!-- /* footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

.footer-about,
.footer-social {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.footer-about h3,
.footer-social h3 {
    font-size: 24px;
    text-shadow: 1px 3px 1px rgba(172, 160, 160, 0.5);
    font-weight:bold;
    margin-bottom: 10px;
}

.footer-about p {
    margin: 0;
    font-size: 16px;
    text-shadow: 3px 1px 3px rgba(172, 160, 160, 0.5);
    font-weight:bold;
}

.footer-social ul {
    list-style: none;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.footer-social ul li {
    margin: 0 10px;
    padding: 10px;
}

.footer-social ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
}

.footer-social ul li a:hover {
    color: rgb(35, 26, 170);
    font-size:80px;
    transition: all 2s ease;
}

@media (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-about {
        width: auto;
        margin: 0 20px;
        text-align:center;
    }

} */ -->










