<section>
  <div class="container">
    <div class="haupt-box">
      <h2>Help & Contact</h2>
      <p>
        Wenn Sie noch Fragen haben, finden Sie weitere Details zu bestimmten
        Themen im FAQ im nächsten Abschnitt. Sie können sich auch an unseren
        zuverlässigen Kundenservice wenden, der sich sieben Tage die Woche um
        Ihre Anliegen kümmert.
      </p>
    </div>
    <div><h3>Shipping & Delivery</h3></div>
    <details>
      <p>To guarantee reliable delivery, our packages are delivered by DHL .</p>
      <summary>Which service provider delivers my package?</summary>
    </details>

    <details>
      <p>
        Due to high demand, the current delivery time is between 5-8 working
        days .
      </p>
      <summary>How long does it take until I receive my goods?</summary>
    </details>

    <details>
      <p>
        After your package has been shipped, you will receive an email from us
        with the tracking number , which you can use to track your order.
      </p>
      <summary>Where can I find my tracking number?</summary>
    </details>

    <details>
      <p>
        Due to the exceptionally high demand, it may happen that our shipping
        partners are unable to keep up with the tracking status updates.
      </p>
      <summary>The delivery status does not change, what should I do?</summary>
    </details>

    <details>
      <p>
        We usually pack everything in one package to minimize our CO2 emissions
        and not make our customers wait long. In exceptional cases, however, it
        may still happen that a product is missing. Please contact us at:
        support@lyann.de so that we can solve your problem.
        <summary
          >I ordered several products, why did only one package arrive?</summary
        >
      </p>

      <details>
        <p>
          Don't worry, you can always use the shipment tracking to find out
          whether your package has been left with a neighbor or is waiting for
          you at a branch. You can find all the latest information in the
          shipment tracking. If you notice that the package is being returned to
          us, contact us at: support@lyann.de
          <summary>What should I do if the delivery attempt fails?</summary>
        </p>

        <details>
          <p>
            Don't worry, you can always use the shipment tracking to find out
            whether your package has been left with a neighbor or is waiting for
            you at a branch. You can find all the latest information in the
            shipment tracking. If you notice that the package is being returned
            to us, contact us at: support@lyann.de
          </p>
          <summary>What should I do if the delivery attempt fails?</summary>
        </details>

        <details>
          <p>
            Thanks to our shipping partners at DHL, you have the option to
            adjust the delivery location or delivery day of your package . As
            soon as DHL announces the package, you will receive an email and can
            make the desired changes directly on the DHL website .
          </p>
          <summary>Can I change the delivery date?</summary>
        </details>
      </details>
    </details>
    <section>
    
        <div><h3>Return & Refund</h3></div>
        <details>
          <p>
            You can find the cancellation policy in the footer under the tab:
            "Legal", or simply click here .
          </p>
          <summary>Where can I find the cancellation policy?</summary>
        </details>

        <details>
          <p>
            We will be happy to send you a new package if the product is damaged
            or if there are any other problems! Please contact us via the
            integrated contact form or by email to: support@lyann.de.
          </p>
          <summary>Can I exchange my product?</summary>
        </details>

        <details>
          <p>
            We are sorry if you received a damaged package. If you want to
            return a product that was damaged due to damage to the package, you
            can use any packaging for the return shipment. Please still use our
            return form to ensure that your package reaches the correct address.
            (To ensure that your returns are correctly assigned, we ask you to
            announce them in advance by email to support@lyann.de .)
          </p>
          <summary>What should I do if my package arrives damaged?</summary>
        </details>

        <details>
          <p>
            If your product is defective, please contact our customer support
            immediately. Please send us photos of the defective product and tell
            us as much as possible about the problem. This way we can check the
            problem as quickly as possible and help you. You can reach us by
            email at: support@lyann.de . Thank you for your cooperation.
          </p>
          <summary>What should I do if my product is defective?</summary>
        </details>

        <details>
          <p>
            You can return your order to us within 14 days without giving any
            reason. (To ensure that your returns are correctly assigned, we ask
            you to announce them in advance by email to support@lyann.de .)
          </p>

          <summary>How long do I have to return my order?</summary>
        </details>

        <details>
          <p>
            You have the right to cancel your order within fourteen days without
            giving any further details. (To ensure that your returns are
            correctly allocated, we ask you to notify us in advance by email to
            support@lyann.de .) Please place the goods you have received in a
            suitable shipping package and include the completed sample form
            (click here) in the package so that we can correctly assign your
            order. As soon as we receive your package, we will check your item
            and refund the outstanding amount as quickly as possible.
            <summary>How can I return my package?</summary>
          </p>
        </details>
      </section>

      <style>
        .container {
          max-width: 800px;
          margin: 0 auto;
          padding: 20px;
        }

        .haupt-box {
          background-color: #f9f9f9;
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          text-align: center;

        }

        .haupt-box h2 {
          font-size: 2rem;
          color: #333;
        }

        .haupt-box p {
          font-size: 1rem;
          color: #666;
          line-height: 1.6;}
          

        h3 {
          font-size: 1.5rem;
          color: #333;
        margin: 20px 0;
        }

        details {
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 8px;
          margin-bottom: 10px;
          padding: 10px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        details summary {
          font-size: 1.2rem;
          font-weight: bold;
          color: #007bff;
          cursor: pointer;
        }

        details summary {
          color: #0056b3;
        }

        details p {
          font-size: 1rem;
          color: #666;
          margin-top: 10px;
          line-height: 1.6;
        }

        details summary:hover {
          color: #0056b3;
        }

       
      </style>
  
