---
import logo from "../assets/images/Logo.svg"
---
<!-- header start -->
<header>
    <div class="container">
      <nav class="main-nav">
        <div class="nav-left">
          <a href="/">
            <img src={logo.src} alt="logo">
          </a>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/produkt">Produkte</a></li>
            <li><a href="/kontakt">Kontakte</a></li>
           </ul>
        </div>
        <div class="nav-right">
            <div class="user-icon">
                <a href="#"><i class="fa-solid fa-user"></i></a>
                <div class="user-menu">
                    <a href="/mein-konto">Mein Konto</a>
                    <a href="#">Bestellungen</a>
                    <a href="#">Einstellungen</a>
                    <a href="#">Abmelden</a>
                </div>
            </div>
          <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </nav>
    </div>
  </header>
  <!-- header end -->

   <style>
    .user-icon {
    position: relative;
}

.user-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    width: 150px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}

.user-icon:hover .user-menu {
    display: block;
}

.user-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ddd;
}

.user-menu a:last-child {
    border-bottom: none;
}

.user-menu a:hover {
    background: #f0f0f0;
}


    body{
        margin-top: 100px;
    }

  header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.main-nav .nav-left a img{
width: 50px;
height: 50px;
}
.container{
    margin:0 auto;

}
.main-nav{ 
display:flex;
justify-content: space-between;
align-items: center;
padding: 40px 0;

}
header{
    height: 150px;
    background-color: rgb(216, 216, 228);
    box-shadow: 0 2px 5px darkgrey;
    border-bottom: 1px solid #575757;
}
.main-nav .nav-left{
    display: flex;
    justify-content: space-between;
}


.main-nav .nav-left a img{
width: 70px;
height: 70px;

}
.main-nav .nav-left ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.main-nav .nav-left ul li{
   padding-left: 20px;
    
}
.main-nav .nav-left ul li a{
    font: size 1.3rem;
    color: rgb(119, 107, 107);
    
}
.main-nav .nav-left ul li a:hover{
    border-bottom: 2px solid black;
    color: black;
    transition: all 0.2s ease;

}
.main-nav .nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.main-nav .nav-right a {
    color:black;
    font-size: 1.2rem;
    margin: 10px;
    
}
.main-nav .nav-right a:hover{
    background-color:darkslategrey ;
    color: white;
    border-radius: 100%;
  
}

.main-nav .nav-right a i{
    padding: 10px;
    transition: all 0.5s ease;}


ul li {
    display: none;
}

@media (min-width:768px){
 ul li {
    display: inline;
    }

}
   </style>

    