---
import Navigation from "../components/Navigation.astro"
import "../css/style.css"
import "../css/fontawesome-free-6.7.2-web/css/all.min.css"
import Footer from "../components/Footer.astro"

---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/src/css/fontawesome-free-6.7.2-web/css/all.min.css">

	<title>Lyann online-shop</title>
	

</head>
<body>
	<Navigation/>
	<slot />
	<Footer/>


</body>

</html>